@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
}

.cart__item-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart__item {
  display: flex;
  flex-direction: row;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  box-sizing: border-box;
  /* justify-content: center; */
  list-style-type: none;
}

.btn{
  font:inherit;
  border: 1px solid #ccc;
  background: white;
  color:#dbc441;
  cursor:"pointer";
  border-radius: 3px;
  margin:1rem 0;
}
.btn:hover,
.btn:active{
  background-color:#dbc441;
  color:white
}
body{
  margin:0;
  padding:0;
  font-family: sans-serif
}
.main-header{
  width: 100%;
  height: 3.5rem;
  background-color: #dbc441;
  padding: 0 2rem;
}
.main-header__nav{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__list{
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
}
.main-header__item{
  float: left;
  margin:0 1rem;
  padding:0;
}
.main-header__item a{
  text-decoration:none;
  color:white
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
  color: purple;
}
main{
  padding: 2rem;
}body{
  margin:0;
  padding:0;
  font-family: sans-serif
}
.main-header{
  width: 100%;
  height: 3.5rem;
  background-color: #dbc441;
  padding: 0 2rem;
}
.main-header__nav{
  height: 100%;
  display: flex;
  align-items: center
}
.main-header__list{
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
}
.main-header__item{
  float: left;
  margin:0 1rem;
  padding:0;
}
.main-header__item a{
  text-decoration:none;
  color:white
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
  color: purple;
}
main{
  padding: 2rem;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 2px solid slateblue;
  background: rgb(0, 102, 255);
  color: white;
  border-radius: 3px;
  padding: 1rem;
  max-width: 40%;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background-color: lightcoral;
}

.form-control input.invalid {
  border-color: red;
}